body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Teko", sans-serif;

}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 0)
}

section {
    background: rgb(124, 21, 21);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }